Karane_STM/Debug/
Karane_STM/Release/
Karane_STM/.settings/
Karane_STM/*.launch
Karane_STM/*.o
Karane_STM/*.elf
Karane_STM/*.bin
Karane_STM/*.map


Karane_Kicad/*.bak
Karane_Kicad/*.kicad_pcb-bak
Karane_Kicad/*.sch-bak
Karane_Kicad/*-save.kicad_pcb
Karane_Kicad/_autosave-*
Karane_Kicad/fp-info-cache
Karane_Kicad/*.kicad_prl
Karane_Kicad/*.kicad_pcb-bin
Karane_Kicad/Karane_Kicad-backups/
Karane_Kicad/.history/


*.o
*.su
*.elf

Inda_STM/Debug/
Inda_STM/Release/
Inda_STM/.settings/
Inda_STM/*.launch
Inda_STM/*.o
Inda_STM/*.elf
Inda_STM/*.bin
Inda_STM/*.map


Inda_Kicad/*.bak
Inda_Kicad/*.kicad_pcb-bak
Inda_Kicad/*.sch-bak
Inda_Kicad/*-save.kicad_pcb
Inda_Kicad/_autosave-*
Inda_Kicad/fp-info-cache
Inda_Kicad/*.kicad_prl
Inda_Kicad/*.kicad_pcb-bin
Inda_Kicad/Inda_Kicad-backups/
Inda_Kicad.history/


.DS_Store
Thumbs.db


.metadata/
RemoteSystemsTempFiles/