Karane_STM/Debug/
Karane_STM/Release/
Karane_STM/.settings/
Karane_STM/*.launch
Karane_STM/*.o
Karane_STM/*.elf
Karane_STM/*.bin
Karane_STM/*.map
*.o
*.su
*.elf

IndaV2_STM/Debug/
IndaV2_STM/Release/
IndaV2_STM/.settings/
IndaV2_STM/*.launch
IndaV2_STM/*.o
IndaV2_STM/*.elf
IndaV2_STM/*.bin
IndaV2_STM/*.map


Karane_Kicad/*.bak
Karane_Kicad/*.kicad_pcb-bak
Karane_Kicad/*.sch-bak
Karane_Kicad/*-save.kicad_pcb
Karane_Kicad/_autosave-*
Karane_Kicad/fp-info-cache
Karane_Kicad/*.kicad_prl
Karane_Kicad/*.kicad_pcb-bin
Karane_Kicad/Karane_Kicad-backups/
Karane_Kicad/.history/


.DS_Store
Thumbs.db


.metadata/
RemoteSystemsTempFiles/