Karane_STM/Debug/
Karane_STM/Release/
Karane_STM/.settings/
Karane_STM/*.launch
Karane_STM/*.o
Karane_STM/*.elf
Karane_STM/*.bin
Karane_STM/*.map
*.o
*.su
*.elf

KaraneV2_STM/Debug/
KaraneV2_STM/Release/
KaraneV2_STM/.settings/
KaraneV2_STM/*.launch
KaraneV2_STM/*.o
KaraneV2_STM/*.elf
KaraneV2_STM/*.bin
KaraneV2_STM/*.map


Karane_Kicad/*.bak
Karane_Kicad/*.kicad_pcb-bak
Karane_Kicad/*.sch-bak
Karane_Kicad/*-save.kicad_pcb
Karane_Kicad/_autosave-*
Karane_Kicad/fp-info-cache
Karane_Kicad/*.kicad_prl
Karane_Kicad/*.kicad_pcb-bin
Karane_Kicad/Karane_Kicad-backups/
Karane_Kicad/.history/


.DS_Store
Thumbs.db


.metadata/
RemoteSystemsTempFiles/